<div class="container">
  <div class="row">
    <div class="col">
      <h1>投稿内容を編集</h1>
    </div>
  </div>

  <!--バリデーションエラーメッセージを表示-->

  <div class="row">
    <div class="col">
      <%= form_with model: @post, url: post_path, method: :patch do |f| %>
        <%= f.file_field :image, accept: "image/*" %>
        <h4>
          タイトル
        <span>※必須</span>
        </h4>
        <%= f.text_field :title, placeholder: "タイトル" %>

        <h4>
          本文
          <span>※必須</span>
        </h4>
        <%= f.text_area :body, placeholder: "本文を入力" %>

        <h4>タグを選択</h4>
        <%= f.collection_select(:tag_ids, @tags, :id, :name, {prompt: "--選択してください--"}, {class: "select", multiple: true}) %>

        <h4>
          地方区分を選択
          <span>※必須</span>
        </h4>
        <%= f.collection_select(:region_id, @regions, :id, :region_name, {prompt: "--選択してください--"}) %>

        <h4>都道府県を選択</h4>
        <%= f.collection_select(:prefecture_ids, @prefectures, :id, :prefecture_name, {prompt: "--選択してください--"}, {class: "select", multiple: true}) %>

        <div>
          <%= f.submit "変更を保存" %>
        </div>
      <% end %>
    </div>
  </div>
</div>