<div class="row">
  <div class="col">
    <h1>全国の投稿一覧</h1>
    <span>
      全<%= @posts.count %>件
    </span>
  </div>
</div>

<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-8">
    <% if @posts.count == 0 %>
      <div>
        <p>
          投稿はありません。
        </p>
      </div>
    <% else %>
      <div class="row">
      <% @posts.each do |post| %>
        <div class="col-lg-5">
          <table class="table index-table">
            <tr>
              <th class="index-th">
                <a href="/posts/<%= post.id %>">
                  <%= image_tag post.get_image(150, 150), class: "bd-placeholder-img" %>
                </a>
              </th>
              <td class="index-hd">
                <a href="/posts/<%= post.id %>" class="index-link-option">
                  <h6 class="pub-header">
                    <%= post.title %>
                  </h6>
                  <p class="index-body">
                    <%= safe_join(post.body.split("\n"),tag(:br)) %>
                  </p>
                </a>
                <p class="index-name">
                  <a href="/users/<%= post.user_id %>" class="index-name-link-option">
                    <%= post.user.name %>
                  </a>
                  <span class="index-date">
                    <%= l post.created_at, format: :short %>
                  </span>
                </p>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-lg-2">
    <!--キーワード検索窓-->
    <%= render partial: 'public/partials/search_keyword' %>
    <!--タグ検索窓-->
    <%= render partial: 'public/partials/search_tag', locals: { tag: @tags} %>
    <!--地方区分検索窓-->
    <%= render partial: 'public/partials/search_region', locals: { region: @regions} %>
    <!--都道府県検索窓-->
    <%= render partial: 'public/partials/search_prefecture', locals: { prefecture: @prefectures} %>
  </div>
</div>