<div class="container">
  <div class="row">
    <div class="col">
      <h1>全国の投稿一覧</h1>
      <span>
        全<%= @posts.count %>件
      </span>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <% if @posts.count == 0 %>
        <div>
          <p>
            投稿はありません。
          </p>
          <p>
            <%= link_to "ここ", new_post_path %><!--
         -->から投稿できます。
          </p>
        </div>
      <% else %>
        <% @posts.each do |post| %>
          <a href="/posts/<%= post.id %>" class="card lg-3 text-dark border-0">
            <%= image_tag post.get_image(200, 130), class: "card-img-top" %>
            <div class="card-body">
              <h6 class="card-title">
                <%= post.title %>
              </h6>
              <h6 class="card-title">
                <%= post.body %>
              </h6>
              <h6 class="card-title">
                <%= link_to post.user.name, user_path(post.user_id) %>
              </h6>
              <h6 class="card-title">
                <%= l post.created_at, format: :short %>
              </h6>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>