<div class="row">
  <div class="col-lg-12 mb-3">
    <h1 class="header-option pub-header">
      全国の投稿一覧
      <span class="header-annotation">
        全<%= @posts.count %>件
      </span>
    </h1>
  </div>
</div>

<div class="row mx-auto mt-3">
  <div class="col-lg-1"></div>
  <div class="col-lg-8">
    <% if @posts.count == 0 %>
      <div>
        <p>
          投稿はありません。
        </p>
      </div>
    <% else %>
      <div class="row">
      <% @posts.each do |post| %>
        <div class="col-lg-6">
          <div class="row flex-lg-row mb-4 h-lg-250">
                <a href="/posts/<%= post.id %>" class="card-img-left flex-auto d-none d-lg-block index-img-resize">
                  <%= image_tag post.get_image %>
                </a>
              <div class="card-body d-flex flex-column align-items-start">
                <a href="/posts/<%= post.id %>" class="index-link-option">
                  <h6 class="pub-header mb-0">
                    <%= post.title %>
                  </h6>
                  <p class="card-text mb-auto">
                    <%= safe_join(post.body.split("\n"),tag(:br)) %>
                  </p>
                </a>
                <p class="index-name">
                  <a href="/users/<%= post.user_id %>" class="index-name-link-option">
                    <%= post.user.name %>
                  </a>
                  <span class="index-date">
                    <%= l post.created_at, format: :short %>
                  </span>
                </p>
              </div>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-lg-2">
    <!--キーワード検索窓-->
    <%= render partial: 'public/partials/search_keyword' %>
    <!--タグ検索窓-->
    <%= render partial: 'public/partials/search_tag', locals: { tag: @tags} %>
    <!--地方区分検索窓-->
    <%= render partial: 'public/partials/search_region', locals: { region: @regions} %>
    <!--都道府県検索窓-->
    <%= render partial: 'public/partials/search_prefecture', locals: { prefecture: @prefectures} %>
  </div>
</div>