<div class="row">
  <div class="col-lg-12">
    <h1 class="header-option pub-header">
      検索結果一覧
      <% if @posts.count >= 1 %>
        <span class="header-annotation">
          <%= @posts.count %>件がヒット
        </span>
      <% end %>
    </h1>
  </div>
</div>

<div class="row mx-auto mt-3">
  <div class="col-lg-8">
    <% if @posts.count == 0 %>
      <div class"row">
        <div class="col">
          <p>検索結果がありませんでした。</p>
        </div>
      </div>
    <% else %>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-lg-4">
            <table class="table">
              <tr>
                <th class="index-th">
                  <a href="/posts/<%= post.id %>" class="bd-placeholder-img index-img-resize">
                    <%= image_tag post.get_image %>
                  </a>
                </th>
                <td class="index-hd">
                  <a href="/posts/<%= post.id %>" class="index-link-option">
                    <h6 class="pub-header">
                      <%= post.title %>
                    </h6>
                    <p class="index-body">
                      <%= safe_join(post.body.split("\n"),tag(:br)) %>
                    </p>
                  </a>
                  <p class="index-name">
                    <a href="/users/<%= post.user_id %>" class="index-name-link-option">
                      <%= post.user.name %>
                    </a>
                    <span class="index-date">
                      <%= l post.created_at, format: :short %>
                    </span>
                  </p>
                </td>
              </tr>
            </table>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

