<div class="row">
  <!--地方区分・都道府県-->
  <div class="col-md-5 text-bold color-black">
    <%= @post.region.region_name %>
    <span> > </span>
    <% @post.post_prefectures.each do |pp| %>
      <%= pp.prefecture.prefecture_name %>
    <% end %>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12 basic-font username-omit">
    <div>
      投稿者：
    </div>
    <%= link_to @post.user.name, user_path(@post.user_id), class: "show-link-option" %>
  </div>
</div>

<div class="row mt-4 px-2">
  <div class="col-md-12 mx-auto header-option">
    <h2 class="pub-header text-wrap">
      <%= @post.title %>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-10 mx-auto my-3">
    <div class="option-right mt-3">
      <!--投稿日時-->
      <span class="text-12rem">
        <%= l @post.created_at %>
      </span>

      <!--ブックマーク-->
      <% if @post.user_id != current_user.id %>
        <% if @post.favorited_by?(current_user) %>
          <!--ブックマーク登録済み-->
          <sppn>
            <%= link_to post_favorites_path(@post), method: :delete do %>
              <i class="fa-solid fa-bookmark favorite-icon-option"></i>
            <% end %>
          </span>
        <% else %>
          <!--ブックマーク未登録-->
          <span>
            <%= link_to post_favorites_path(@post), method: :post do %>
              <i class="fa-regular fa-bookmark favorite-icon-option"></i>
            <% end %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row mx-auto mt-3">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <!--投稿画像-->
    <div class="img-resize-show text-center">
      <%= image_tag @post.get_image %>
    </div>

    <div class="my-4"></div>

    <!--本文-->
    <div class="transparent-option-pd text-12rem">
      <%= safe_join(@post.body.split("\n"),tag(:br)) %>
    </div>

    <div class="my-4"></div>

    <!--タグ-->
    <% @post.post_tags.each do |pt| %>
      <div class="basic-font mb-2">
        <span class="tag-option">
          <i class="fa-sharp fa-solid fa-tag"></i>
          <%= pt.tag.name %>
        </span>
      </div>
    <% end %>

    <div class="show-border"></div>

    <h5 class="text-bold">
      コメント
      <span class="font-small">
        <%= @post.post_comments.count %>件
      </span>
    </h5>

    <div class="show-dashed-border"></div>

    <div class="row">
      <div class="col-md-5">
        <!--コメント投稿-->
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, placeholder: "コメントを入力", class: "comment-form" %>
          <div class="text-center mb-5">
            <%= f.submit "送信", class: "btn btn-option" %>
          </div>
        <% end %>
      </div>

      <div class="col-md-7">
        <% unless @post_comments.present? %>
          <p class="basic-font ml-3">コメントはありません。</p>
        <% end %>
        <!--コメント一覧-->
        <% @post_comments.each do |post_comment| %>
          <div class="comment-option">
            <div class="comment-data">
              <%= l post_comment.created_at, format: :short %>
            </div>

            <div class="comment-body">
              <%= safe_join(post_comment.comment.split("\n"),tag(:br)) %>
            </div>

            <div class="mt-2 option-right">
              <%= link_to post_comment.user.name, user_path(post_comment.user_id), class: "comment-name comment-omit" %>
              <% if post_comment.user == current_user %>
                <span>
                  <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "コメントを削除しますか？", class: "btn comment-delete" %>
                </span>
              <% end %>
            </div>
          </div>

          <div class="comment-border"></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-2"></div>
</div>

<div class="row mt-5">
<% if @post.user_id == current_user.id %>
    <div class="option-center">
      <div>
        <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-option" %>
      </div>
    </div>

    <div class="mt-5 option-left">
      <%= link_to "投稿を削除する", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn danger-btn" %>
      <p class="text-annotation mt-1">
        ※投稿を削除すると、投稿についたコメントも削除されます。
      </p>
    </div>
<% elsif @post.user_id != current_user.id %>
  <div class="mt-5 option-right mb-5">
    <%= link_to "不適切な投稿を通報する >>", new_post_reports_path(@post.id), class: "btn danger-btn" %>
  </div>
<% end %>
</div>
