<div class="container">
  <div class="row">
    <div class="col">
      
      <h1>
        <!--タイトル-->
        <%= @post.title %>
        <span>
          <!--投稿者-->
          <%= link_to @post.user.name, user_path(@post.user_id) %>
        </span>
        <span>
          <!--投稿日時-->
          <%= l @post.created_at %>
        </span>
      </h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <!--投稿画像-->
      <%= image_tag @post.get_image(400, 600) %>
      
      <!--本文-->
      <div class="row">
        <%= safe_join(@post.body.split("\n"),tag(:br)) %>
      </div>
      
      <!--タグ-->
      <div class="row">
        <div class="col">
          <% @post.post_tags.each do |pt| %>
            <%= pt.tag.name %>
          <% end %>
        </div>
        <div class="col">
          <% if @post.favorited_by?(current_user) %>
            <p>
              <%= link_to post_favorites_path(@post), method: :delete do %>
                ★<%= @post.favorites.count %>ブックマーク
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to post_favorites_path(@post), method: :post do %>
                ☆<%= @post.favorites.count %>ブックマーク
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
      
      <!--地方区分・都道府県-->
      <div class="col">
        <%= @post.region.region_name %>
        <span> > </span>
        <% @post.post_prefectures.each do |pp| %>
          <%= pp.prefecture.prefecture_name %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <h4>
        <%= @post.post_comments.count %>件のコメント
      </h4>
        
      <div class="col">
        <!--コメント投稿-->
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, placeholder: "コメントを入力" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
      
      <div class="col">
        <% @post_comments.each do |post_comment| %>
          <div>
            <p>
              <%= safe_join(post_comment.comment.split("\n"),tag(:br)) %>
            </p>
            
            <p>
              <span>
                <%= link_to post_comment.user.name, user_path(post_comment.user_id) %>
              </span>
              <span>
                <%= l post_comment.created_at, format: :short %>
              </span>
            </p>
            
            <% if post_comment.user == current_user %>
              <p>
                <%= link_to "コメントを削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "コメントを削除しますか？" %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
        
      
    </div>
  </div>
  
  <% if @post.user_id == current_user.id %>
    <div class="row">
      <div class="col">
        <%= link_to "編集する", edit_post_path(@post.id) %>
      </div>
      <div class="col">
        <%= link_to "削除する", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </div>
    </div>
  <% end %>
</div>