<div class="row">
  <div class="col-md-12 mb-5">
    <h1 class="header-option pub-header">裏怪道分布図</h1>
  </div>
</div>

<div class="row mb-4 comment-border">
  <div class="col-md-9 mx-auto">
    <!--Jmap表示-->
    <div class="mb-5" id="jmap"></div>
    </div>
  </div>
</div>

<div class="container px-2">
  <div class="row">
    <!--キーワード検索窓-->
    <%= render partial: 'public/partials/search_keyword' %>
    <!--タグ検索窓-->
    <%= render partial: 'public/partials/search_tag', locals: { tag: @tags} %>
    <!--地方区分検索窓-->
    <%= render partial: 'public/partials/search_region', locals: { region: @regions} %>
    <!--都道府県検索窓-->
    <%= render partial: 'public/partials/search_prefecture', locals: { prefecture: @prefectures} %>
  </div>

  <div class="row">
    <div class="col-md-12 mt-5">
      <h2 class="header-option pub-header">全国の新着投稿</h2>
    </div>
  </div>

  <div class="option-right mt-3 mb-4">
    <%= link_to "投稿をもっと見る", posts_path, class: "btn btn-option" %>
  </div>


  <div class="row">
    <div class="col-md-12">
      <% if @latest_posts.count == 0 %>
        <p class="text-15rem">
          投稿はありません。
        </p>
      <% else %>
        <div class="row">
          <%= render partial: "public/partials/post", collection: @latest_posts %>
        </div>
      <% end %>
    </div>
  </div>
</div>