<div class="row mt-5">
  <div class="col">
    <!--画像表示-->
  </div>
</div>

<div class="row mx-auto">
  <div class="col-lg-1"></div>
  <div class="col-lg-7">
    <!--Jmap表示-->
    <div id="jmap"></div>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-2">
    <!--キーワード検索窓-->
    <%= render partial: 'public/partials/search_keyword' %>
    <!--タグ検索窓-->
    <%= render partial: 'public/partials/search_tag', locals: { tag: @tags} %>
    <!--地方区分検索窓-->
    <%= render partial: 'public/partials/search_region', locals: { region: @regions} %>
    <!--都道府県検索窓-->
    <%= render partial: 'public/partials/search_prefecture', locals: { prefecture: @prefectures} %>
  </div>
</div>

<div class="row mt-5">
  <div class="col-lg-12">
    <h2 class="header-option">全国の新着投稿</h2>
  </div>
</div>

<div class="option-right my-3">
  <%= link_to "投稿をもっと見る", posts_path, class: "btn btn-option" %>
</div>


<div class="row d-block">
  <div class="col-lg-12">
    <div class="card-group">
      <% @latest_posts.each do |post| %>
        <div class="m-3">
          <a href="/posts/<%= post.id %>" class="card text-dark border-dark">
            <%= image_tag post.get_image(150, 150), class: "card-img-top border-bottom border-dark" %>
            <div class="card-body">
              <h6 class="card-title col-3 text-truncate">
                <%= post.title %>
              </h6>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
