<div class="row mb-5">
  <div class="col-md-12">
    <h1 class="header-option adm-header">タグ一覧・追加</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mb-5">
    <%= form_with model: @tag, url: admin_tags_path, method: :post do |f| %>
      <h4 class="header-option adm-header">
        タグ追加
      </h4>
      <div class="card card-border-bottom-option option-center mt-4">
        <h4 class="card-title basic-font">
          <%= f.label :name, "タグ名" %>
          <%= f.text_field :name, placeholder: "ここに入力", class: "tag-input-form mt-3" %>
        </h4>

        <div class="card-body pb-5">
          <%= f.submit "追加する", class: "btn btn-option" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-8">
    <% if @tags.count == 0 %>
      <p class="basic-font">
        タグは登録されていません。
      </p>
    <% else %>
      <h4 class="header-option adm-header">
        タグ一覧
      </h4>
      <div class="row mt-4">
        <% @tags.each do |tag| %>
          <div class="col-md-4">
            <div class="card tag-card-option mb-3">
              <div class="card-header text-12rem card-header-option">
                <i class="fa-sharp fa-solid fa-tag"></i>
                <%= tag.name %>
              </div>
              <div class="card-body">
                <span class="border-all-option-edit">
                  <%= link_to edit_admin_tag_path(tag.id), class: "link-option-bl-gr", method: :get do %>
                    <i class="fa-sharp fa-solid fa-pen-to-square"></i><!--
                 --><span class="font-small">編集</span>
                  <% end %>
                </span>

                <span class="border-all-option-delete">
                  <%= link_to admin_tag_path(tag.id), class: "link-option-rd-gr", "data-confirm" => "削除してよろしいですか？", method: :delete do %>
                    <i class="fa-sharp fa-solid fa-trash-can"></i><!--
                 --><span class="font-small">削除</span>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>