<div class="container">
  <div class="row">
    <div class="col-lg-5 mb-3">
      <h3>新規会員登録</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10">
      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        
      <table class="table table-borderless table-sm">
        <tr>
          <th>ユーザーネーム</th>
          <td>
            <%= f.text_field :name, autofocus: true, placeholder: "うつしよ" %>
          </td>
        </tr>
        
        <tr>
          <th>メールアドレス</th>
          <td>
            <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %>
          </td>
        </tr>
        
        <tr>
          <th>
            <% if @minimum_password_length %>
            <span>パスワード(<%= @minimum_password_length %>文字以上)</span>
            <% end %>
          <td>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </tr>
        
        <tr>
          <th>パスワード(確認用)</th>
          <td>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </td>
        </tr>
          <th></th>
          <td>
            <%= f.submit "登録する", class: "btn btn-success" %>
          </td>
      </table>
      <% end %>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-lg-7">
      <h3>会員登録済みの方</h3>
      <span class="ml-5">
        <%= link_to "こちら", new_session_path(resource_name) %>
        からログインしてください。
      </span>
    </div>
  </div>
</div>