<div class="container">
  <div class="row">
    <div class="col">
      <h1>通報ページ</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <%= form_with model: @report, url: post_reports_path, method: :post do |f| %>
        <h6>通報対象の投稿</h6>
        <p>
          <%= @post.title %>
        </p>
        
        <h6>通報理由</h6>
        <p>
          <%= f.select :reason, Report.reasons.keys.map {|k| [I18n.t("enums.report.reason.#{k}"), k]} %>
        </p>
        
        <h6>通報理由詳細</h6>
        <p>
          <%= f.text_area :body %>
        </p>
        
        <%= f.submit "通報する" %>
      <% end %>
    </div>
  </div>
</div>