<div class="row mb-5">
  <div class="col-md-12">
    <h1 class="header-option adm-header">会員詳細</h1>
  </div>

  <div class="option-right my-3">
    <%= link_to "退会させる", admin_user_path(@user.id), method: :delete, "data-confirm" => "本当によろしいですか？", class: "btn danger-btn" %>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-3 text-center mb-5">
    <%= image_tag @user.get_profile_image(150, 150), class: "adm-icon-border" %>
  </div>

  <div class="col-md-6">
    <div class="row mb-5">
      <div class="col-md-6">
        <h5 class="header-option adm-header">会員ID</h5>
        <h4 class="basic-font transparent-option p-2">
          <%= @user.id %>
        </h4>
      </div>

      <div class="col-md-6">
        <h5 class="header-option adm-header">登録日時</h5>
        <h5 class="basic-font transparent-option p-2">
          <%= l @user.created_at %>
        </h5>
      </div>
    </div>

    <h5 class="header-option adm-header">ユーザーネーム</h5>
    <h4 class="basic-font transparent-option p-2">
      <%= @user.name %>
    </h4>

    <h5 class="header-option adm-header mt-5">メールアドレス</h5>
    <h4 class="basic-font transparent-option p-2">
      <%= @user.email %>
    </h4>

    <h5 class="header-option adm-header mt-5">プロフィール</h5>
    <h4 class="basic-font transparent-option-profile p-2">
      <%= @user.profile %>
    </h4>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row my-5">
  <div class="col-md-11 mx-auto">
    <h3 class="header-option adm-header">
      <div class="header-omit">
        <%= @user.name %>
      </div>
      さんの投稿一覧
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-9 mx-auto mb-5">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 10%">投稿ID</th>
          <th style="width: 20%">投稿日時</th>
          <th style="width: 50%">タイトル</th>
        </tr>
      </thead>

      <% @posts.each do |post| %>
      <tbody>
        <tr>
          <td>
            <%= post.id %>
          </td>
          <td>
            <%= l post.created_at %>
          </td>
          <td>
            <%= link_to post.title, admin_post_path(post.id), class: "link-option" %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>

  <div class="mt-5">
    <%= paginate @posts %>
  </div>
</div>