<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>ブックマーク一覧</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <% if @favorites.count == 0 %>
        <h6>
          ブックマークに登録した投稿はありません。
        </h6>
      <% else %>
        <div class="card-deck">
        <% @favorites.each do |favorite| %>
          <a href="/posts/<%= favorite.post_id %>" class="card text-dark border-dark" style="width: 20%;">
            <%= image_tag favorite.post.get_image(200, 200), class: "card-img-top" %>
            <div class="card-body">
              <h6 class="card-title">
                <%= favorite.post.title %>
              </h6>
              <p class="card-text">
                <%= safe_join(favorite.post.body.split("\n"),tag(:br)) %>
              </p>
              <p class="card-text">
                <%= favorite.post.user.name %>
              </p>
            </div>
          </a>
          <%= link_to "ブックマークを削除", post_favorites_path(favorite.post_id), method: :delete do %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>