<div class="row mb-2">
  <div class="col-lg-12">
    <h1 class="header-option pub-header">マイページ</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-9 mx-auto my-5">
    <h2 class="header-option pub-header">登録情報</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-2"></div>

  <div class="col-lg-2 text-center mb-5">
    <%= image_tag @user.get_profile_image(150, 150), class: "icon-option" %>
  </div>

  <div class="col-lg-6">
    <h5 class="header-option pub-header">ユーザーネーム</h5>
    <h4 class="basic-font transparent-option p-2">
      <%= @user.name %>
    </h4>

    <h5 class="header-option pub-header mt-5">メールアドレス</h5>
    <h4 class="basic-font transparent-option p-2">
      <%= @user.email %>
    </h4>

    <h5 class="header-option pub-header mt-5">プロフィール</h5>
    <h4 class="basic-font transparent-option-profile p-2">
      <%= @user.profile %>
    </h4>

    <div class="row my-5">
      <div class="text-center">
        <%= link_to "プロフィールを編集", mypage_edit_path, class: "btn btn-option" %>
      </div>
    </div>
  </div>

  <div class="col-lg-2"></div>
</div>

<div class="row">
  <div class="col-lg-12 mx-auto">
    <h3 class="header-option pub-header">自分の投稿</h3>
  </div>
</div>
<div class="option-right my-3">
  <%= link_to"ブックマーク一覧へ", mypage_favorites_path, class: "btn btn-option" %>
</div>

<div class="row">
  <div class="col-lg-12">
    <% if @posts.count == 0 %>
      <div>
        <p>
          投稿はありません。
        </p>
        <p>
          <%= link_to "ここ", new_post_path %><!--
       -->から投稿できます。
        </p>
      </div>
    <% else %>
      <div class="row d-block">
        <div class="card-group">
          <% @posts.each do |post| %>
            <div class="m-2">
              <a href="/posts/<%= post.id %>" class="card card-option">
                <div class="card-img-top top-img-resize card-img-border">
                  <%= image_tag post.get_image %>
                </div>
                <div class="card-body">
                  <h6 class="card-title pub-header">
                    <%= post.title %>
                  </h6>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>